{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
        <div class="carousel slide wet-asphalt" data-interval="3">
            <ol class="carousel-indicators">
                <li class="" data-slide-to="0" data-target="#main-slider"></li>
                <li data-slide-to="1" data-target="#main-slider" class=""></li>
                <li data-slide-to="2" data-target="#main-slider" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div style="background-image: url(static/images/slider/bg1.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered" style="margin-top: 265px;">
                                    <h2 class="animation animated-item-1">Полиграфия, визитки, корпоративный дизайн</h2>
                                    <p class="animation animated-item-2">Календари, холдеры, конверты, бумажные стаканчики</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg2.jpg)" class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered" style="margin-top: 208.5px;">
                                    <h2 class="boxed animation animated-item-1">Печать на ткани, кружках, ручках, фирменный стиль</h2>
                                    <p class="boxed animation animated-item-2">Женские футболки с принтами, печать на чашках и ручках</p>
                                    <br>
                                    <a href="#" class="btn btn-md animation animated-item-3">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div style="background-image: url(static/images/slider/bg3.jpg)" class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered" style="margin-top: 219px;">
                                    <h2 class="animation animated-item-1">Предпечатная обработка фото, сканирование, фотомонтаж</h2>
                                    <p class="animation animated-item-2">Фирменный стиль, широкоформатная печать, графический дизайн, печатные изделия</p>
                                    <a href="#" class="btn btn-md animation animated-item-3">Подробнее</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered" style="margin-top: 129px;">
                                    <div class="embed-container">
{#                                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="https://www.youtube.com/embed/videoseries?list=PLx0sYbCqOb8TBPRdmBHs5Iftvv9TPboYG"></iframe>#}
                                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="https://www.youtube.com/embed/videoseries?list=PLpjKxEIoOjpCLfppbfK9bpeUBemXA5d11"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
{#                <div style="background-image: url(static/images/slider/bg4.jpg)" class="item active">#}
{#                    <div class="container">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-6">#}
{#                                <div class="carousel-content centered" style="margin-top: 219px;">#}
{#                                    <h2 class="animation animated-item-1">Предпечатная обработка фото, сканирование, фотомонтаж</h2>#}
{#                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>#}
{#                                    <a href="#" class="btn btn-md animation animated-item-3">Learn More</a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-sm-6 hidden-xs animation animated-item-4">#}
{#                                <div class="centered" style="margin-top: 129px;">#}
{#                                    <div class="embed-container">#}
{#                                        <iframe frameborder="0" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f"></iframe>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div><!--/.item-->#}
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a data-slide="prev" href="#main-slider" class="prev hidden-xs">
            <i class="icon-angle-left"></i>
        </a>
        <a data-slide="next" href="#main-slider" class="next hidden-xs">
            <i class="icon-angle-right"></i>
        </a>
    </section>
    <section class="emerald" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-paper-clip icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Мастерская Дизайна</h3>
                            <p>Фирменный стиль, широкоформатная печать, графический дизайн, печатные изделия</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-calendar icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Фотокалендари</h3>
                            <p>Календари, холдеры, конверты, бумажные стаканчики</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                <div class="col-md-4 col-sm-6">
                    <div class="media">
                        <div class="pull-left">
                            <i class="icon-coffee icon-md"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Печать на ткани и чашках</h3>
                            <p>Женские футболки с принтами, печать на чашках и ручках</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section>
	 <section id="recent-works">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Наши Проекты</h3>
                    <p>Используя самое передовое оборудование и технологии печати, мы обсепечиваем нашим клиентам непревзойденное качество</p>
                    <div class="btn-group">
                        <a class="btn btn-danger" href="#scroller" data-slide="prev"><i class="icon-angle-left"></i></a>
                        <a class="btn btn-danger" href="#scroller" data-slide="next"><i class="icon-angle-right"></i></a>
                    </div>
                    <p class="gap"></p>
                </div>
                <div class="col-md-9">
                    <div id="scroller" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item1.jpg" %}" alt="">
                                                <h5>
                                                    Чашки - Печать на керамике
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/recent/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item2.jpg" %}" alt="">
                                                <h5>
                                                    Ткани - Печать на ткани
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Сублимационная термопечать на ткани" href="{% static  "images/portfolio/recent/item2.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-xs-4">
                                        <div class="portfolio-item">
                                            <div class="item-inner">
                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item3.jpg" %}" alt="">
                                                <h5>
                                                    Визитки - Бархатная Ламинация
                                                </h5>
                                                <div class="overlay">
                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/recent/item3.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.row-->
                            </div><!--/.item-->
{#                            <div class="item">#}
{#                                <div class="row">#}
{#                                    <div class="col-xs-4">#}
{#                                        <div class="portfolio-item">#}
{#                                            <div class="item-inner">#}
{#                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item2.png" %}" alt="">#}
{#                                                <h5>#}
{#                                                    Flat Theme - Business Theme#}
{#                                                </h5>#}
{#                                                <div class="overlay">#}
{#                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-xs-4">#}
{#                                        <div class="portfolio-item">#}
{#                                            <div class="item-inner">#}
{#                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item1.png" %}" alt="">#}
{#                                                <h5>#}
{#                                                    Nova - Corporate site template#}
{#                                                </h5>#}
{#                                                <div class="overlay">#}
{#                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>                            #}
{#                                    <div class="col-xs-4">#}
{#                                        <div class="portfolio-item">#}
{#                                            <div class="item-inner">#}
{#                                                <img class="img-responsive" src="{% static "images/portfolio/recent/item3.png" %}" alt="">#}
{#                                                <h5>#}
{#                                                    Fornax - Apps site template#}
{#                                                </h5>#}
{#                                                <div class="overlay">#}
{#                                                    <a class="preview btn btn-danger" title="Malesuada fames ac turpis egestas" href="{% static  "images/portfolio/full/item1.jpg" %}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div><!--/.item-->#}
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </section><!--/#recent-works-->
	<section id="testimonial" class="alizarin">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="center">
                        <h2>Что говорят наши клиенты</h2>
                        <p>"Марина и ее команда превзощли все наши самые смелые ожидания! Обязательно обратимся снова!" Семья Сыроежкиных</p>
                    </div>
                    <div class="gap"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <blockquote>
                                <p>Лучшие цены в городе</p>
                                <small>Иван Иванов CEO, <cite title="Source Title">Кино и Немцы</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Идеальное качество!</p>
                                <small>Head of Marketing, <cite title="Source Title">Luxoft</cite></small>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote>
                                <p>Быстро и без лишних вопросов. Марина сделала мокрую печать на моем паспорте моряка</p>
                                <small>Капитан дальнего плавания Подлодкин А.А., <cite title="Source Title">Крюинг Груп</cite></small>
                            </blockquote>
                            <blockquote>
                                <p>Очень комфортное и продуктивное сотрудничество, быстрый результат</p>
                                <small>Брадул Дмитрий, <cite title="Source Title">Консультант</cite></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->


{% endblock %}

